<?xml version="1.0" encoding="UTF-8"?>
<persistence version="2.1" xmlns="http://xmlns.jcp.org/xml/ns/persistence" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/persistence http://xmlns.jcp.org/xml/ns/persistence/persistence_2_1.xsd">
  <persistence-unit name="jorgeComercioPU" transaction-type="RESOURCE_LOCAL">
    <provider>org.eclipse.persistence.jpa.PersistenceProvider</provider>
    <class>modelo.Categoria</class>
    <class>modelo.Cliente</class>
    <class>modelo.Itemvenda</class>
    <class>modelo.Marca</class>
    <class>modelo.Produto</class>
    <class>modelo.Status</class>
    <class>modelo.Usuario</class>
    <class>modelo.Venda</class>
    <exclude-unlisted-classes>false</exclude-unlisted-classes>
    <!--<properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/comercioJorge"/>
      <property name="javax.persistence.jdbc.user" value="marcelo"/>
      <property name="javax.persistence.jdbc.password" value="siedler@2015"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
    </properties>-->
    
    <properties>
      <property name="javax.persistence.jdbc.url" value="jdbc:postgresql://localhost:5432/comercio"/>
      <property name="javax.persistence.jdbc.user" value="postgres"/>
      <property name="javax.persistence.jdbc.driver" value="org.postgresql.Driver"/>
      <property name="javax.persistence.jdbc.password" value="postgres"/>
    </properties>
  </persistence-unit>
</persistence>
